// Icon
$color-icon-white: var(--color-icon-white);
$color-icon-black: var(--color-icon-black);
$color-icon-purple: var(--color-icon-purple);
$color-icon-red: var(--color-icon-red);
$color-icon-green: var(--color-icon-green);
$color-icon-pink: var(--color-icon-pink);
$color-icon-light-blue: var(--color-icon-light-blue);

$color-icon-primary: var(--color-icon-primary);
