:root.dark-theme {
  --color-nav-icon-home: invert(100%) sepia(0%) saturate(25%) hue-rotate(108deg) brightness(107%) contrast(106%);
  --color-nav-icon-home--active: invert(39%) sepia(22%) saturate(2768%) hue-rotate(267deg) brightness(95%) contrast(90%);
  --color-nav-icon-announce: invert(100%) sepia(0%) saturate(25%) hue-rotate(108deg) brightness(107%) contrast(106%);
  --color-nav-icon-announce--active: invert(75%) sepia(30%) saturate(912%) hue-rotate(27deg) brightness(100%) contrast(93%);
  --color-nav-icon-messenger: invert(100%) sepia(0%) saturate(25%) hue-rotate(108deg) brightness(107%) contrast(106%);
  --color-nav-icon-messenger--active: invert(73%) sepia(13%) saturate(2099%) hue-rotate(84deg) brightness(96%) contrast(93%);
  --color-nav-icon-profile: invert(100%) sepia(0%) saturate(25%) hue-rotate(108deg) brightness(107%) contrast(106%);
  --color-nav-icon-profile--active: invert(50%) sepia(94%) saturate(453%) hue-rotate(173deg) brightness(92%) contrast(93%);
  --color-nav-icon-top: invert(100%) sepia(0%) saturate(25%) hue-rotate(108deg) brightness(107%) contrast(106%);
  --color-nav-icon-top--active: invert(40%) sepia(44%) saturate(5012%) hue-rotate(340deg) brightness(106%) contrast(98%);

  --body: #062a38;
  --global-three-vertical-dots: #fff;
  --icon-svg: invert(95%) sepia(100%) saturate(0%) hue-rotate(193deg) brightness(106%) contrast(106%);
  --text: #fff;
  --back-btn: #fff;
  --header-line: #000;
  --botom-panel: #062a38;
  --nav-home: #c548b3;
  --nav-home-active: #c548b3;
  --nav-qr: #fd4a3b;
  --nav-qr-active: #fd4a3b;
  --nav-msg: #38de6c;
  --nav-msg-active: #38de6c;
  --nav-profile: #3f99e4;
  --nav-profile-active: #3f99e4;
  --post-header-username: #fff;
  --post-header-place: #3488d5;
  --post-header-time: #4e7382;
  --post-header-utils-dots: #fff;
  --post-note-text: #fff;
  --post-join-bg: #d03bb0;
  --post-footer-icon: #fff;
  --story-text: #fff;
  --story-img-bg: #3488d5;
  --story-img-bg--viewed: #fff;
  --life-panel-text: #fff;
  --life-panel-text--active: #d2fa36;
  --life-page-filter-text: #fff;
  --life-page-filter-bg: #1f3f4c;
  --search-page-title: #fff;
  --search-page-subtitle: #4e7382;
  --search-page-switch-link: #4e7382;
  --search-page-switch-link--active: #fff;
  --search-page-input-text: #fff;
  --search-page-input-bg: transparent;
  --profile-page-username: #fff;
  --profile-page-user-status: #4e7382;
  --profile-page-action-edit-text: #000;
  --profile-page-action-edit-bg: #fff;
  --profile-page-action-my-qr-text: #fff;
  --profile-page-action-my-qr-bg: #5d2ed5;
  --profile-page-stat-title: #4e7382;
  --profile-page-stat-value: #fff;
  --profile-page-switch-text: #818181;
  --profile-page-switch-text--active: #fff;
  --bottom-sheet-bg: #062a38;
  --bottom-sheet-text: #fff;
  --bottom-sheet-stroke: #000;
  --slider-bullet: #a1a1a1;
  --slider-bullet--active: #fff;
  --messenger-page-username: #fff;
  --messenger-page-latest-msg: #fff;
  --messenger-page-online-status: #35d366;
  --messenger-page-latest-entry: #4e7382;
  --messenger-page-unread-text: #fff;
  --messenger-page-unread-bg: #5d2ed5;
  --event-page-header-title: #fff;
  --event-page-people-count: #fff;
  --event-page-date: #fff;
  --event-page-date-icon: #46ee7a;
  --event-page-place: #fff;
  --event-page-place-icon: #62b2ff;
  --event-page-about-text: #fff;
  --event-page-btn-join-text: #fff;
  --event-page-btn-join-bg: #5d2ed5;
  --event-page-btn-like-text: #fff;
  --event-page-btn-like-bg: #dd3fbb;
  --event-page-btn-reply-text: #fff;
  --event-page-btn-reply-bg: #fff;
  --event-page-peoples-title: #fff;
  --event-page-peoples-see-all: #3488d5;
  --event-page-user-name: #fff;
  --event-page-user-status: #4e7382;
  --chat-page-header-bg: #062a38;
  --chat-page-icon: #fff;
  --chat-page-buddy-username: #fff;
  --chat-page-buddy-online-status: #fff;
  --chat-page-item-text: #000;
  --chat-page-item-bg: #fff;
  --chat-page-item-time: #adadad;
  --chat-page-item-text-me: #fff;
  --chat-page-item-bg-me: #5d2ed5;
  --chat-page-time-me: #dbdbdb;
  --chat-page-date: #4e7382;
}
