:root {
  --color-nav-icon-home:invert(0%) sepia(100%) saturate(7500%) hue-rotate(328deg) brightness(89%) contrast(114%);
  --color-nav-icon-home--active: invert(39%) sepia(22%) saturate(2768%) hue-rotate(267deg) brightness(95%) contrast(90%);
  --color-nav-icon-announce: invert(0%) sepia(100%) saturate(7500%) hue-rotate(328deg) brightness(89%) contrast(114%);
  --color-nav-icon-announce--active: invert(75%) sepia(30%) saturate(912%) hue-rotate(27deg) brightness(100%) contrast(93%);
  --color-nav-icon-messenger: invert(0%) sepia(100%) saturate(7500%) hue-rotate(328deg) brightness(89%) contrast(114%);
  --color-nav-icon-messenger--active: invert(73%) sepia(13%) saturate(2099%) hue-rotate(84deg) brightness(96%) contrast(93%);
  --color-nav-icon-profile: invert(0%) sepia(100%) saturate(7500%) hue-rotate(328deg) brightness(89%) contrast(114%);
  --color-nav-icon-profile--active: invert(50%) sepia(94%) saturate(453%) hue-rotate(173deg) brightness(92%) contrast(93%);
  --color-nav-icon-top: invert(0%) sepia(100%) saturate(7500%) hue-rotate(328deg) brightness(89%) contrast(114%);
  --color-nav-icon-top--active: invert(40%) sepia(44%) saturate(5012%) hue-rotate(340deg) brightness(106%) contrast(98%);

  --body: #f5f5f5;
  --global-three-vertical-dots: #fff;
  --icon-svg: invert(0%) sepia(8%) saturate(7467%) hue-rotate(225deg) brightness(112%) contrast(94%);
  --text: #3c3c3c;
  --back-btn: #3c3c3c;
  --header-line: #dbdbdb;
  --botom-panel: #fff;
  --nav-home: #c548b3;
  --nav-home-active: #c548b3;
  --nav-qr: #fd4a3b;
  --nav-qr-active: #fd4a3b;
  --nav-msg: #38de6c;
  --nav-msg-active: #38de6c;
  --nav-profile: #3f99e4;
  --nav-profile-active: #3f99e4;
  --post-header-username: #3c3c3c;
  --post-header-place: #3488d5;
  --post-header-time: #4e7382;
  --post-header-utils-dots: #aeaeae;
  --post-note-text: #3c3c3c;
  --post-join-bg: #8f3fdf;
  --post-footer-icon: #3c3c3c;
  --story-text: #3c3c3c;
  --story-img-bg: #5d2ed5;
  --story-img-bg--viewed: #dbdbdb;
  --life-panel-text: #b6b6b6;
  --life-panel-text--active: #5d2ed5;
  --life-page-filter-text: #3c3c3c;
  --life-page-filter-bg: #e3e3e3;
  --search-page-title: #3c3c3c;
  --search-page-subtitle: #9ea9ad;
  --search-page-switch-link: #9ea9ad;
  --search-page-switch-link--active: #3c3c3c;
  --search-page-input-text: #848484;
  --search-page-input-bg: #fff;
  --profile-page-username: #3c3c3c;
  --profile-page-user-status: #9ea9ad;
  --profile-page-action-edit-text: #fff;
  --profile-page-action-edit-bg: #3c3c3c;
  --profile-page-action-my-qr-text: #fff;
  --profile-page-action-my-qr-bg: #5d2ed5;
  --profile-page-stat-title: #9ea9ad;
  --profile-page-stat-value: #3c3c3c;
  --profile-page-switch-text: #8d8d8d;
  --profile-page-switch-text--active: #000;
  --bottom-sheet-bg: #fff;
  --bottom-sheet-text: #3c3c3c;
  --bottom-sheet-stroke: #e3e3e3;
  --slider-bullet: #888;
  --slider-bullet--active: #3c3c3c;
  --messenger-page-username: #3c3c3c;
  --messenger-page-latest-msg: #3c3c3c;
  --messenger-page-online-status: #35d366;
  --messenger-page-latest-entry: #848484;
  --messenger-page-unread-text: #fff;
  --messenger-page-unread-bg: #5d2ed5;
  --event-page-header-title: #3c3c3c;
  --event-page-people-count: #3c3c3c;
  --event-page-date: #3c3c3c;
  --event-page-date-icon: #3c3c3c;
  --event-page-place: #3c3c3c;
  --event-page-place-icon: #9a9a9a;
  --event-page-about-text: #3c3c3c;
  --event-page-btn-join-text: #fff;
  --event-page-btn-join-bg: #5d2ed5;
  --event-page-btn-like-text: #fff;
  --event-page-btn-like-bg: #dd3fbb;
  --event-page-btn-reply-text: #3c3c3c;
  --event-page-btn-reply-bg: #3c3c3c;
  --event-page-peoples-title: #3c3c3c;
  --event-page-peoples-see-all: #5d2ed5;
  --event-page-user-name: #3c3c3c;
  --event-page-user-status: #9ea9ad;
  --chat-page-header-bg: #f5f5f5;
  --chat-page-icon: #3c3c3c;
  --chat-page-buddy-username: #3c3c3c;
  --chat-page-buddy-online-status: #adadad;
  --chat-page-item-text: #3c3c3c;
  --chat-page-item-bg: #fff;
  --chat-page-item-time: #adadad;
  --chat-page-item-text-me: #fff;
  --chat-page-item-bg-me: #5d2ed5;
  --chat-page-time-me: #dbdbdb;
  --chat-page-date: #9ea9ad;
}
