@import 'variables';
@import 'components/swiper';

//@include swiper-root();
//@include swiper-navigation();
//@include swiper-pagination();
//@include swiper-lazy();
//@include swiper-virtual();

body {
  @include scrollbar();
}

#q-app {
  @apply relative w-full h-screen;
  font-family: $ff-roboto;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.hide-scroll {
  @apply overflow-hidden;
}

.g-app {
  @apply h-full;
}

.g-hex {
  @include rounded-hex();
}

.g-text-restrict {
  @include text-restrict();
}

.g-layout {
  min-height: unset !important;

  .q-page {
    min-height: unset !important;
  }
}
