@import 'design-system';

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  @apply no-underline;
}

img {
  @apply block max-w-full h-auto align-middle;
}

#q-app {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: $ff-roboto;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.hide-scroll {
  overflow: hidden;
}
