@mixin user-avatar-wrap($size: 30px, $rounded: false) {
  @apply rounded-full;

  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;

  img {
    @if($rounded) {
      @apply rounded-full;
    } @else {
      @include rounded-hex();
    }

    @apply inner-img;
  }
}
